{{#md-card title='Connect with a tax preparer:'
  titleClass='center'}}
  {{#md-card-content}}
    <div class='row'>
      {{md-input
        label='First Name'
        value=model.firstName
      }}
    </div>

    <div class='row'>
      {{md-input
        label='Last Name'
        value=model.lastName
      }}
    </div>

    <div class='row'>
      {{md-input
        label='Email'
        type='email'
        value=model.email
      }}
    </div>

    <div class='row'>
      <h6>What is your filing status?</h6>
      {{#md-radios selection=model.filingStatus}}
        <p>{{md-radio value='individual' name='Individual'}}</p>
        <p>{{md-radio value='self-employed' name='Self-Employed'}}</p>
        <p>{{md-radio value='corporation' name='Corporation'}}</p>
      {{/md-radios}}
    </div>

    {{#md-card-action class='center'}}
      {{md-btn-submit
        action=attrs.onSubmit
        text='SUBMIT'
      }}
    {{/md-card-action}}
  {{/md-card-content}}
{{/md-card}}
